{% extends "base.html" %}

{% block container%}


{% include "nav.html" %}


    <div class="container mt-4 rounded">

    <table id="example" class="table table-bordered " style="width:100%">
      <thead>
        <tr class="shadow-lg"style="background-color: #f8f8f8 " >
      <th >Equipo</th>
      <th >Csv</th>
      <th >Fecha</th>
      <th >Kml</th>
      <th >Factura</th>
      <th >Responsable</th>
      <th >Informe</th>
      <th >Eliminar</th>
      </tr>
      </thead>

      <tbody>
      {% for article in object_list %}
      <tr >
      <td class="text-center">{{article.name}} </td>
      <td class="text-center"> <a href="{{ article.csv.url }}" download  class="btn"><i class="bi bi-download"></i></a></td>
      <td class="text-center">{{article.date}}</td>
      <td class="text-center"> <a href="{{ article.kml.url }}" download  class="btn"><i class="bi bi-download"></i></a></td>
      {% if article.bill%}
      <td class="text-center"> <a href="{{ article.bill.url }}" download  class="btn"><i class="bi bi-download"></i></a></td>
      {%else%}
      <td class="text-center"> <a href={% url 'drive:editar' pk=article.pk %}   class="btn"><i class="bi bi-file-earmark-plus"></i></a></td>
      {%endif%}
      <td class="text-center">{{article.user.first_name}}</td>
      <td class="text-center">
            <form  method='POST'>
            {% csrf_token %}
                  <input type='hidden' name='key' value="{{article.csv.url}}">
                  <input type='hidden' name='name' value="{{article.name}}">
                  <button type="submit" class=" btn shadow-none">
                  <i class="bi bi-file-earmark-bar-graph"></i>
                  </button>
              </form>
    </td>
    <td class="text-center align-middle"><a href={% url 'drive:eliminar' pk=article.pk %} class=" btn "><i class=" bi bi-trash"></i> </a></td>

      </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>

    {%endblock%}

{% block table%}
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
        <script>

        $(document).ready(function() {
          $('#example').DataTable({
              "lengthChange": false,
              pageLength: 10,
               "order": [[ 2, "desc" ]],
               autoWidth: false
          });
      } );
      </script>
      {%endblock%}
